
.projects{
    margin-bottom: 3rem;
}


.projects a {
    text-decoration: none;
}


.card{
    padding: 1.25rem 1.75rem;
    border-radius: 0.25rem;
}

.card h2{
    margin-top: 1rem;
    color: #222;    
    font-weight: 600;
}

.card img{
    max-height: 300px;
    overflow: hidden;
    border: 0.5px solid #222;
    border-radius: 0.25rem;
}

.card:hover{
    background-color: #eee;
}

.card p{
    /* font-size: 1.25rem; */
    color: #999;   
}

@media only screen and (max-width: 1024px){
    
    .projects{
        margin-bottom: 1rem;
        padding: 0.25rem;
    }

    .projects h1{
        font-size: 1.75rem;
    }

    .card{
        padding: 0.5rem;
        border-radius: 0.25rem;
    }

    .card h2{
        font-size: 1.25rem;
    }

    .card img{
        max-height: 400px;
    }
}