section {
    padding: 2rem;
    margin-bottom: 3rem;
}

.description {
    position: absolute;
    transform: translate(-5vw, -30vh);
    background-color: #eee;
    padding: 2rem 2.5rem;
    max-width: 600px;
}

@media only screen and (max-width: 1024px){
    .description {
        position: relative;
        transform: translate(0);
        max-width: none;
    }

}
