
.tableHeader{
    min-height: 2rem;
    font-weight: 700;
    border-bottom: 1px black solid;
    margin-top: 2rem;
    display: block;
}

.row{
    margin-top: 1rem;
    padding-top: 0.5rem;
    min-height: 5rem;
}    

.row:hover{
    background-color: whitesmoke;
}

.itemHeader{
    display: none;
}

@media only screen and (max-width: 576px){
    .tableHeader{
        /* background-color: rgb(255, 238, 0); */
        /* transform: translateY(-100vh); */
        display: none !important;
    }
    
    .date{
        font-weight: 800;
    }

    .itemHeader{
        display: block;
    }
}