.wrapper {
  padding: 2rem 1rem 3rem;
  background-color: #222; 
  color: #fff;
  
  width: 100%;
}

.wrapper h3{
  margin: 0px;
}
.wrapper p {
  font-size: 0.875rem;
}

.socialTabs a {
  color: #666;
  font-size: 1.25rem;
}

.footerTabs{
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.footerTabs a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  border-left: 0.5px solid white;
  padding-left: 0.5rem;
}
