.wrapper {
  padding: 2rem 1rem 4rem;
  /* max-width: 500px; */
  /* margin: 32px auto; */
  text-align: center;
  background-color: #ddd;
  height: 50px;
}

.wrapper p {
  font-size: 0.875rem;
}

.wrapper p a {
  font-weight: 700;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
.wrapper p a:hover {
  text-decoration: underline;
}
.wrapper p:not(:last-of-type) {
  margin-bottom: 1em;
}
